.uploadFilter{
    -fx-background-color: #5784BA;
}
.lineFilter{
    -fx-pref-width: 500;
    -fx-alignment: center;
}
.filter {
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-pref-height: 50;
    -fx-background-color: #9AC8EB;
    -fx-animated: true;
}

.filter .cell{
    -fx-border-width: 0.2;
    -fx-background-color: #9AC8EB;
    -fx-border-color: #6ea7ce;
}
.filter .cell:hover{
    -fx-background-color: #aad3df;
}
.filterDate{
    -fx-control-inner-background: #9AC8EB;
}
.uploadFilter .label{
    -fx-padding: 10;
}

.HboxUpload{
    -fx-background-color: #d4dbe5;
}
.VboxUpload{
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font: 18px "Segoe UI Semibold";
}
.VboxUpload .button{
    -fx-font: 15px "Segoe UI Semibold";
    -fx-padding: 10 20 10 20;
}
.menu-bar, .menu, .bottom{
    /*-fx-background-color: #4CAF50; /* Green */
    -fx-background-color: #9AC8EB;
    -fx-font-size: 15px;
    -fx-alignment: center;
}
.menu-bar{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #71b4ef;
    -fx-spacing: 20;
}
.menu:hover{
    -fx-background-color: #B6D8F2;
    -fx-background-radius: 10;
}
.menu-bar .menu .label{
    -fx-text-fill: black;
}
.menu{
    -fx-padding: 10;
    -fx-min-height: 50;
}
.menu .cell, .menu .combo-box{
    -fx-border-color: #9AC8EB;
    -fx-prompt-text-fill: blue;
    -fx-background-color: #a8daf5;
}
.menu .combo-box{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.menu .cell:hover, .menu .combo-box:hover{
    -fx-background-color: #9AC8EB;
}
.custom-menu-item:hover, .custom-menu-item:focused {
    -fx-background-color: transparent;
}
.quality {
    -fx-spacing: 10;
    -fx-pref-width: 200;
    -fx-fit-to-height: true;
}


.table-view, .table-view:hover, .table-view:focused {
    -fx-background-color: #9AC8EB;
    -fx-border-color: #9AC8EB;
    -fx-border-width: 0;
}
.table-view .table-column {
    -fx-font-weight: bold;
    -fx-border-color: #9AC8EB;
    -fx-border-width: 1;
}
.table-view  .cell{
    -fx-background-color: #aad3df;
}

.table-view .column-header {
    -fx-border-color: #71b4ef;
    -fx-border-width: 0 1 1 0;
    -fx-background-color: #9AC8EB;
    -fx-font-weight: bold;
    -fx-alignment: center;
}


.text-field{
    -fx-prompt-text-fill: grey;
    -fx-text-fill: black;
}

#rechercherTextField {
    -fx-background-color: #B6D8F2;
    -fx-background-radius: 24px;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}


/*1ère version*/

/*#graphicsButton {
    -fx-background-color: #c3c4c4,
    linear-gradient(lightgrey 50%, white 100%),
    radial-gradient(center 50% -50%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 24px;
    -fx-background-insets: 0,1,1;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}*/

/*2ème version*/

.bottom{
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #71b4ef;
    -fx-min-height: 35;
    -fx-spacing: 20;
}

.button{
    -fx-padding: 3 10 3 10;
    -fx-background-color: #B6D8F2;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}
.graphes{
    -fx-alignment: center;
    -fx-padding: 50;
}
.stat {
    -fx-hgap: 20;
    -fx-vgap: 50;
    -fx-alignment: center;

}
.rectangleStat {
    -fx-font: 18px "Segoe UI Semibold";
    -fx-background-color: linear-gradient(to bottom, #a8daf5, #9ac8eb);
    -fx-background-radius: 16;
    -fx-pref-width: 300;
    -fx-pref-height: 150;
    -fx-alignment: center;
}

/*.rectangleStat:hover {*/
/*    -fx-background-insets: 0,1,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );*/
/*    -fx-font-size: 16;*/
/*    -fx-translate-y: -2;*/
/*}*/

/*#rectangle2 {*/
/*    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);*/
/*    -fx-background-radius: 10;*/
/*}*/

/*#rectangle2:hover {*/
/*    -fx-background-insets: 0,1,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );*/
/*    -fx-font-size: 16;*/
/*    -fx-pref-width: 250;*/
/*    -fx-translate-y: -2;*/
/*}*/
/*#rectangle3 {*/
/*    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);*/
/*    -fx-background-radius: 10;*/
/*}*/

/*#rectangle3:hover {*/
/*    -fx-background-insets: 0,1,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );*/
/*    -fx-font-size: 16;*/
/*    -fx-pref-width: 250;*/
/*    -fx-translate-y: -2;*/
/*}*/
/*#rectangle4 {*/
/*    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);*/
/*    -fx-background-radius: 10;*/
/*}*/

/*#rectangle4:hover {*/
/*    -fx-background-insets: 0,1,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );*/
/*    -fx-font-size: 16;*/
/*    -fx-pref-width: 250;*/
/*    -fx-translate-y: -2;*/
/*}*/
/*#rectangle5 {*/
/*    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);*/
/*    -fx-background-radius: 10;*/
/*}*/

/*#rectangle5:hover {*/
/*    -fx-background-insets: 0,1,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );*/
/*    -fx-font-size: 16;*/
/*    -fx-pref-width: 250;*/
/*    -fx-translate-y: -2;*/
/*}*/
/*#rectangle6 {*/
/*    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);*/
/*    -fx-background-radius: 10;*/
/*}*/

/*#rectangle6:hover {*/
/*    -fx-background-insets: 0,1,1;*/
/*    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );*/
/*    -fx-font-size: 16;*/
/*    -fx-pref-width: 250;*/
/*    -fx-translate-y: -2;*/
/*}*/