.menu-bar, .menu, .bottom{
    /*-fx-background-color: #4CAF50; /* Green */
    -fx-background-color: #9AC8EB;
    -fx-font-size: 15px;
    -fx-alignment: center;
}
.menu-bar{
    -fx-spacing: 20;
}
.menu:hover{
    -fx-background-color: #B6D8F2;
    -fx-background-radius: 10;
}
.menu-bar .menu .label{
    -fx-text-fill: black;
}
.menu{

    -fx-padding: 10;
    -fx-min-height: 50;
}
.menu .text-field .menu{
    -fx-background-color: white;
}

.custom-menu-item:hover, .custom-menu-item:focused {
    -fx-background-color: transparent;
}

.table-view, .table-view:hover, .table-view:focused {
    -fx-background-color: #9AC8EB;
    -fx-border-color: #9AC8EB;
    -fx-border-width: 0;
}
.table-view .table-column {
    -fx-font-weight: bold;
    -fx-border-color: #9AC8EB;
    -fx-border-width: 1;
}
.table-view  .cell{
    -fx-background-color: #aad3df;
}

.table-view .column-header {
    -fx-border-color: rgb(143, 161, 229);
    -fx-border-width: 1 1 1 0;
    -fx-background-color: #9AC8EB;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.uploadFilter{
    -fx-background-color: #5784BA;
}

.filter {
    -fx-background-color: #9AC8EB; /* Green */
    -fx-animated: true;
}


.text-field{
    -fx-prompt-text-fill: grey;
    -fx-text-fill: black;
}

#rechercherTextField {
    -fx-background-color: #B6D8F2;
    -fx-background-radius: 24px;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}


/*1ère version*/

/*#graphicsButton {
    -fx-background-color: #c3c4c4,
    linear-gradient(lightgrey 50%, white 100%),
    radial-gradient(center 50% -50%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 24px;
    -fx-background-insets: 0,1,1;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}*/

/*2ème version*/

.bottom{
    -fx-min-height: 35;
    -fx-spacing: 20;
}

.bottom .button{
    -fx-padding: 3 10 3 10;
    -fx-background-color: #B6D8F2;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}

#rectangle1 {
    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);
    -fx-background-radius: 16;
}

#rectangle1:hover {
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 16;
    -fx-pref-width: 250;
    -fx-translate-y: -2;
}
#rectangle2 {
    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);
    -fx-background-radius: 10;
}

#rectangle2:hover {
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 16;
    -fx-pref-width: 250;
    -fx-translate-y: -2;
}
#rectangle3 {
    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);
    -fx-background-radius: 10;
}

#rectangle3:hover {
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 16;
    -fx-pref-width: 250;
    -fx-translate-y: -2;
}
#rectangle4 {
    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);
    -fx-background-radius: 10;
}

#rectangle4:hover {
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 16;
    -fx-pref-width: 250;
    -fx-translate-y: -2;
}
#rectangle5 {
    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);
    -fx-background-radius: 10;
}

#rectangle5:hover {
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 16;
    -fx-pref-width: 250;
    -fx-translate-y: -2;
}
#rectangle6 {
    -fx-background-color: linear-gradient(to bottom, #0078D7, #004C8C);
    -fx-background-radius: 10;
}

#rectangle6:hover {
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 16;
    -fx-pref-width: 250;
    -fx-translate-y: -2;
}